<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js overflow-y-scroll">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preload" href="{{ 'bundle.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.js' | asset_url }}" as="script">

    <title>{{ page_title | escape }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% if canonical_url != blank %}
      <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    {% comment %}theme-check-disable ParserBlockingJavaScript{% endcomment %}
    <script src="{{ 'jquery-3.6.0.min.static.js' | asset_url }}"></script>
    {% comment %}theme-check-enable ParserBlockingJavaScript{% endcomment %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js"></script>
    <script src="{{ 'rivets-cart.min.static.js' | asset_url }}" defer></script>
    <script src="{{ 'option_selection.js' | shopify_asset_url }}" defer>
    </script>

    {{ 'bundle.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }

      if (Shopify.theme) {
        Shopify.theme.breakpoints = {
          sm: 640,
          md: 768,
          lg: 1024,
          xl: 1280,
          "2xl": 1536
        },

        Shopify.theme.media = {
          sm: "(min-width: 640px)",
          md: "(min-width: 768px)",
          lg: "(min-width: 1024px)",
          xl: "(min-width: 1280px)",
          "2xl": "(min-width: 1536px)"
        }
      }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      jQuery(function() {
        CartJS.init({{ cart | json }});
      });
    </script>
  </head>

  <body class="overflow-x-hidden">
    {% section 'header' %}
    <main role="main">
      {{ content_for_layout }}
    </main>
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
